flow.json
[
  {
    "id": "tab_weather",
    "type": "tab",
    "label": "Weather API",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject_weather",
    "type": "inject",
    "z": "tab_weather",
    "name": "Trigger every 30s",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 140,
    "y": 100,
    "wires": [["http_weather"]]
  },
  {
    "id": "http_weather",
    "type": "http request",
    "z": "tab_weather",
    "name": "Get Weather Data",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://89.221.223.46:8080/weather_api",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 100,
    "wires": [["function_split"]]
  },
  {
    "id": "function_split",
    "type": "function",
    "z": "tab_weather",
    "name": "Split T and P",
    "func": "// vytvoření dvou samostatných zpráv\nlet msgTemp = {\n    payload: msg.payload.T\n};\n\nlet msgPress = {\n    payload: msg.payload.P\n};\n\nreturn [msgTemp, msgPress];",
    "outputs": 2,
    "noerr": 0,
    "x": 580,
    "y": 100,
    "wires": [["gauge_temp"],["gauge_press"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab_weather",
    "name": "Temperature",
    "group": "ui_group_weather",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Teplota (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": "-20",
    "max": "40",
    "colors": ["#00bfff","#00ff00","#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 820,
    "y": 60,
    "wires": []
  },
  {
    "id": "gauge_press",
    "type": "ui_gauge",
    "z": "tab_weather",
    "name": "Pressure",
    "group": "ui_group_weather",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Tlak (hPa)",
    "label": "hPa",
    "format": "{{value}}",
    "min": "900",
    "max": "1050",
    "colors": ["#00ff00","#ffff00","#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 810,
    "y": 140,
    "wires": []
  },
  {
    "id": "ui_group_weather",
    "type": "ui_group",
    "name": "Weather Station",
    "tab": "ui_tab_weather",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "ui_tab_weather",
    "type": "ui_tab",
    "name": "Weather Dashboard",
    "icon": "dashboard",
    "order": 1
  }
]
